on:
  discussion:
    types: [created,answered]
  discussion_comment:
    types: [created]
jobs:
  discussion_answered:
    runs-on: ubuntu-latest
    if: github.event.discussion
    steps:
      - run: |
          curl -X POST -d '{"text": "Answered Discussion: By: ${{ github.event.sender.login }} Title: ${{ github.event.discussion.title }} URL: ${{ github.event.discussion.html_url }}" }' ${{ secrets.SLACK_WEBHOOK_URL }}
  discussion_question_created:
    runs-on: ubuntu-latest
    if: github.event.discussion
    steps:
      - run: |
          curl -X POST -d '{"text": "<!channel> Created New Discussion(${{ github.event.discussion.category.name }}): By: ${{ github.event.sender.login }} Title: ${{ github.event.discussion.title }} URL: ${{ github.event.discussion.html_url }}" }' ${{ secrets.SLACK_WEBHOOK_URL }}
  discussion_commented:
    runs-on: ubuntu-latest
    if: github.event.discussion_comment
    steps:
      - run: |
          curl -X POST -d '{ "text": "<!channel>ã€€Added New Comment: By: ${{ github.event.sender.name }} Title: ${{ github.event.discussion.title }} Body: ${{ github.event.comment.body }} URL: ${{  github.event.comment.html_url }}"" }' ${{ secrets.SLACK_WEBHOOK_URL }}
